* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: all smooth 5s;
}

:root {
    --background-main: rgb(23, 15, 35);
    --background-sideBar: rgb(35, 27, 46);
    --background-color-button: rgb(48, 41, 56);
    --background-color-button-2: #9b4de0;
    --background-color-player : rgba(19,12,28,255);

    --color-logo: #fff;
    --color-logo-1: rgb(244, 113, 162);
    --color-logo-2: rgb(29, 168, 224);
    --color-logo-img: rgb(240, 159, 99);

    --color-text: #fff;
    --color-input: rgb(48, 42, 58);
    --color-button: rgb(139, 89, 169);


    --height-header: 70px;
}

#main-web {
    width: 100%;
    height: 100%;

    background-color: var(--background-main);

    display: flex;
    flex-flow: row;
    margin: auto;
}

.sideBar {
    height: 100vh;
    min-width: 240px;
    background-color: var(--background-sideBar);
    border-right: 1px solid #fafafa58;
}

.padding-10 {
    padding: 10px !important;
}

.site-ID {
    width: 100%;

    height: var(--height-header);

    display: flex;
    align-items: center;
}

.logo-btn {
    width: 100%;
    max-width: 240px;
    padding: 0 25px 0 28px;

    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    height: 40px;

}

.logo-slider {
    height: 80%;
    width: 2px;
    background-color: var(--color-logo);

    margin: 0 10px;
}

.logo-img {
    font-size: 24px;
    color: var(--color-logo);
}

.logo-name {
    font-size: 18px;
}

.logo-name span:nth-child(1) {
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: var(--color-logo-2);
}

.logo-name span:nth-child(2) {
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: var(--color-logo-1);
}

.logo-name {
    color: var(--color-logo);
}

.navBar-menu {
    height: fit-content;
    width: 100%;
}

.navBar-menu a {
    display: block;
    padding: 12px 28px;
    text-decoration: none;
    color: var(--color-text);
}

.navBar-menu a i {
    margin-right: 12px;
}

.content {
    /* background-color: #DDDDDD; */
    flex-grow: 1;
    position: relative;
}

.content-header {
    width: 100%;
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 59px;
    position: absolute;
    top: 0;

    background-color: var(--background-main);

    z-index: 1;

}

.content-header__toolBar {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolBar-left {
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-flow: row;
}

.toolBar-left .redirect-btn {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolBar-left .redirect-btn button {
    background-color: transparent;
    border: none;

    color: var(--color-text);
    font-size: 20px;
}

.toolBar-left .search-block {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: var(--color-input);
    padding: 10px 14px;

    width: 440px;
    height: 40px;
    border-radius: 18px;

    margin-left: 20px;
}

.toolBar-left .search-block button {
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    padding: 14px;
}

.toolBar-left .search-block input {
    flex-grow: 1;
    height: 100%;
    background-color: transparent;
    color: var(--color-text);
    padding: 0 12px;
    outline: none;
    border: none;
}

.toolBar-right {
    width: 30%;
    height: 100%;
    max-width: 100px;

}

.download-block button {
    padding: 10px 24px;
    color: var(--color-text);
    background-color: var(--background-color-button-2);
    text-overflow: 1px 1px var(--color-text);
    border-radius: 14px;
    outline: none;
    border: 1px solid var(--color-text);
}

.toolBar-right .setting-block button {
    font-size: 24px;
    padding: 5px;
    background-color: var(--background-color-button);
    color: var(--color-text);
    border-radius: 50%;
    outline: none;
    border: none;

}

.toolBar-right .user-block .user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.content-container {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    max-height: calc(100vh - var(--height-header));

    background-color: var(--background-main);
    /* background-color: antiquewhite; */
    color: var(--color-text);
    padding: 0 59px;
    padding-top: var(--height-header);
    overflow: auto;


}

.content-container .slider {
    /* height: 200px; */
    width: 100%;
    /* background-color: #fff; */

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 32px -12px;

    position: relative;
}

.content-container .slider .poster {

    height: 100%;
    padding: 0 12px;

    animation: FadeIn ease 2;
}

.xl-4 {
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}


.slider .poster img {
    width: 100%;
    background-color: #fff;
    height: 100%;

    object-fit: fill;
    object-position: center;

    border-radius: 10px;
    box-shadow: 1px 1px 1px #ffffff79;

    cursor: pointer;
}

.slider .poster img:hover {
    /* opacity: 1.5; */
}

.slider button {
    position: absolute;
    font-size: 30px;

    padding: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #ffffff64;
    border: none;
    outline: none;

    opacity: 0;
}

.slider button:nth-child(1) {
    left: 0px;
}

.slider button:nth-child(2) {
    right: 0px;
}

.slider button:hover {
    /* display: flex; */
    opacity: 1;
}

.slider button:active {
    transform: scale(0.9);
}

.block {
    padding-bottom: 20px;
    width: 100%;
}

.content .new-publish {
    margin-top: 48px;
    width: 100%;
    height: fit-content;
}

.content .block-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.content .block-btn {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.content .new-publish button {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


button:active {
    transform: scale(0.9);
}

.content .new-publish button:hover {
    cursor: pointer;
}

.content .new-publish button.active {
    background-color: var(--background-color-button-2);
}

.content .new-publish .block-media {
    width: 100%;
}

.card-music {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    width: 100%;

    padding-right: 50px;

    border: 0.2px solid #ffffff06;
    border-radius: 10px;
    cursor: pointer;
}

.card-music:hover{
    background-color: var(--background-color-button) !important;
}

.card-music:active{
    background-color: var(--background-color-button) !important;
    transform: scale(0.98,0.98);
}


.fa-solid.fa-heart {
    color: red;
}

.card-music__img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: var(--color-text);

    cursor: pointer;
}

audio{
    display: none;
}

.card-music__emotion {
    flex-grow: 1;
    display: flex;
    justify-content: end;

    padding: 0;
    
}

.card-music__emotion i {
    display: block;

}

.inf-title,
.inf-artist,
.inf-desc {
    display: block;
    font-size: 14px;
    font-weight: 800;
    padding: 0 15px;
    padding-bottom: 3px;
}

.inf-artist,
.inf-desc {
    font-weight: 100;
    font-size: 12px;
    color: #aaaaaa;
}

.album .block-title {
    margin: 0;
}

.card-album {
    display: block;
    width: 210px;
    position: relative;
}


.card-album__img {
    width: 210px;
    max-width: 100%;
    height: 210px;
    background-color: #fff;
    border-radius: 8%;
    margin-bottom: 10px;
}

.card-album__inf .inf-desc {
    width: 100%;
    text-align: center;
    max-width: 100%;
}


.getAll {
    display: block;
    cursor: pointer;
}



.getAll:hover {
    text-decoration: underline;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: block;
}

.col.xl-0{
    display: none;
}

.col.xl-4 {
    flex: 0 0 calc((100%/3));
    max-width: calc((100%/3));
}

.col.xl-3 {
    flex: 0 0 calc((100%/4));
    max-width: calc((100%/4));
}

.content .footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000097;
    z-index: 2;
}

.bg-blur {
    display: none;
}


.nav a:hover {
    background-color: var(--background-color-button);
    border-right: 2px solid var(--background-color-button-2);
}



@keyframes FadeIn {
    from {
        opacity: 0.5;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.siderBar-icon {
    width: fit-content;
    /* position: absolute; */
    z-index: 1;

    display: flex;
    flex-flow: column;

    justify-content: space-between;
    padding: var(--height-header) 0;

    padding-left: 20px;
    /* background-color: #000; */

    display: none;

    background-color: var(--background-sideBar);
    border-right: 1px solid #fafafa58;
}

.siderBar-icon a {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.siderBar-icon label {
    background-color: transparent;
    color: var(--color-text);
    /* padding-left: 20px;
    padding-right: 20px; */
    font-size: 18px;
    margin-top: 18px;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 10px;
}

.no-flex{
    flex: none !important;
}

.player-block{
    width: 100%;
    height: 90px;
    background-color: var(--background-color-player);

    position: absolute;
    z-index: 1;
    bottom: 0;
    
    border-top: 1px solid #ffffff53;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-block .card-music{
    min-width: fit-content;
    width: 30%;
}

.player-block .card-music .inf-title{
    color: var(--color-text);
}

.player-block .card-music button{
    background-color: transparent;
    border: none;
    color: var(--color-text);
}

.player-block .player-control{
    width: 40%;
    padding: 0 20px;
}



.player-block .player-control .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 248px;
    width: 100%;
}

.player-block .player-control .action button{
    background-color: transparent;
    color: var(--color-text);
    font-size: 24px;
}

.player-block .player-control .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slider-thumb{
    display: flex;
    align-items: center;
    flex-flow: row;
    padding-top: 10px;
}

.slider-thumb .time-start,
.slider-thumb .time-end{
    color: var(--color-text);
    padding: 0 10px;
}

.slider-thumb input{
    flex-grow: 1;
}



.player-block .icon{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.player-block .icon button{
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: 20px;
}

.player-block > .action button{
    display: none;
    margin: 0 50px;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    
}




@media (max-width: 1470px) {

    #main-web {
        /* display: block; */
        position: relative;
    }

    .sideBar {
        width: 280px;
        z-index: 2;
        position: absolute;
        display: none;
    }

    .sideBar.active,
    .bg-blur.active {
        display: block;
    }

    .content-container {
        padding-right: 20px;
    }

    .siderBar-icon {
        display: block;
    }

    .content-container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .content-header {
        padding-left: 40px;
        padding-right: 40px;
    }


}

@media (max-width : 1024px) {
    .col.l-6 {
        flex: 0 0 calc((100%/2));
        max-width: calc((100%/2));
    }

    .col.l-0 {
        display: none;
    }

    .col.l-4 {
        flex: 0 0 calc((100%/3));
        max-width: calc((100%/3));
    }

    .download-block {
        display: none;
    }

    .player-block .icon{
        display: none;
    }

    .player-block .player-control{
        width: 60%;
    }


}

@media (max-width : 780px) {
    .col.m-0 {
        display: none;
    }

    .col.m-12 {
        flex: 0 0 calc((100%/1));
        max-width: calc((100%/1));
    }

    .col.m-6 {
        flex: 0 0 calc((100%/2));
        max-width: calc((100%/2));
    }

    .col.m-4 {
        flex: 0 0 calc((100%/3));
        max-width: calc((100%/3));
    }

    .col.m-0 {
        display: none;
    }

    .col.m-4 {
        flex: 0 0 calc((100%/3));
        max-width: calc((100%/3));
    }

    .card-album {
        display: block;
        width: 180px;
    }

    .card-album__img {
        width: 180px;
        height: 180px;
    }

    .content-container .slider {
        margin-left: 0;
        margin-right: 0;
    }

    .content-container .slider .poster {
        padding-left: 5px;
        padding-right: 5px;
    }

    .filter {
        display: none;
    }

    .content-header {
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 540px) {
    .col.s-0 {
        display: none;
    }

    .col.s-12 {
        flex: 0 0 calc((100%/1));
        max-width: calc((100%/1));
    }

    .col.s-6 {
        flex: 0 0 calc((100%/2));
        max-width: calc((100%/2));
    }

    .col.s-0 {
        display: none;
    }

    .col.s-4 {
        flex: 0 0 calc((100%/3));
        max-width: calc((100%/3));
    }

    .content-container .slider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .toolBar-left {
        width: fit-content;
        min-width: fit-content;
    }

    .toolBar-left .search-block {
        display: none;
    }

    .toolBar-right {
        width: 40%;
        max-width: 100px;
    }

    .card-music{
        padding-right: 0;
    }


}

@media (max-width: 420px) {
    .col.ss-0 {
        display: none;
    }

    .col.ss-12 {
        flex: 0 0 calc((100%/1));
        max-width: calc((100%/1));
        display: block;
    }

    .col.ss-6 {
        flex: 0 0 calc((100%/2));
        max-width: calc((100%/2));
        display: block;
    }

    .col.ss-0 {
        display: none;
    }

    .col.ss-4 {
        flex: 0 0 calc((100%/3));
        max-width: calc((100%/3));
        display: block;
    }

    .card-album {
        display: block;
        width: 130px;
    }

    .card-album__img {
        width: 130px;
        height: 130px;
    }

    .content-container {
        padding-right: 5px;
        padding-left: 5px;
    }

    .player-block{

    }

    .player-block .player-control{
        display: none;
    }

    .player-block .card-music{
        width: fit-content !important;
        display: flex;
        justify-content: space-between !important;
        padding: 0 20px ;
    }

    .player-block > .action button{
        display: block;
    }
}