* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --background-color-mode: #e9ecef;
    --background-color-block-mode: #ced4da;

    --height-header: 75px;

    --color-logo-1: green;
    --color-logo-2: rgb(62, 8, 76);

    --color-sideBar-redirect : #989898;
    --background-color-sideBar-footer: #000;

    --color-main : #000;
    --color-main-back : #fff;
}

body.dark-mode {
    --background-color-mode: #6c757d;
    --background-color-block-mode: #343a40;

    --color-sideBar-redirect : #fff;

    --background-color-sideBar-footer: #042d1b;

    --color-logo-1: green;
    --color-logo-2: rgb(62, 8, 76);

    --color-main : #fff;
    --color-main-back : #fff;

    --color-redirect-hover: #b4b4b4;

}

ul,
ol,
li {
    list-style-type: none;
}

a ,i,h1,h2,h3,p{
    color: var(--color-main);
    text-decoration: none;
}

.block {
    background-color: var(--background-color-block-mode);
}

.container {
    width: 100%;
    height: fit-content;
}

.padding-10 {
    padding: 10px !important;
}

.padding-5 {
    padding: 5px !important;
}

#main-web {
    background-color: var(--background-color-mode);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.content,
.sideBar {
    width: 100%;
    height: 97vh;
    border-radius: 5px;
}

.sideBar__header {
    height: fit-content;
    min-height: var(--height-header);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 10px solid var(--background-color-mode);

}

.header__site-Icon {
    position: relative;
    width: 45px;
    height: 45px;
    background: #9f9f9f;
    margin-right: 10px;
}

.header__site-ID {
    font-size: 25px;
}

.icon {
    background: url(./resource/img/icon.ico);
    background-position: center;
    background-size: cover;
}

.logo {
    color: var(--color-logo-1);
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.logo span {
    color: var(--color-logo-2);
}

/* .sideBar__slider{
    width: 100%;
    height: 10px;
    background-color: var(--background-color-mode);
} */

.sideBar__redirect {
    padding: 20px 0;
}

.sideBar__redirect .redirect-header {
    font-size: 24px;
    font-weight: 700;
    padding: 0 30px;

    padding-bottom: 10px;

    color: var(--color-main);
}

.sideBar__redirect .redirect-list {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    color: var(--color-sideBar-redirect);
}

.sideBar__redirect .redirect {
    padding: 10px 50px;
    margin-bottom: 5px;
    width: 100%;
    /* border: 1px solid black; */
}

.sideBar__redirect .redirect i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-sideBar-redirect);
    min-width: 24px;
}

.sideBar__redirect .redirect a {
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-sideBar-redirect);;
}

.sideBar__redirect .redirect:hover {
    cursor: pointer;
    background-color: #afb1b2;
    border-right: 5px solid rgb(13, 45, 122);
}

.sideBar__redirect .redirect:hover a,
.sideBar__redirect .redirect:hover i {
    font-weight: 700;
    color: rgb(1, 26, 86);
}

.taskBar {
    width: 100%;
    height: var(--height-header);
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.search-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 10px 0; */
    /* background-color: var(--background-color-mode); */
}


.search-block input {
    width: calc(100% - 34px);
    height: 35px;
    border-radius: 10px;
    margin: 5px;
    padding: 0 10px;

    border: 1px solid black;
}

.search-block i {
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
}

.infUser-block {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 20px;
}

.infUser-block button {
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;

}

.type-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    padding-left: 20px;
}

.type-block .type-btn {
    display: flex;
    max-width: 100%;
    overflow: auto;
}

.type-block .type-btn .btn {
    padding: 10px 20px;
    min-width: 100px;
    /* background-color: #6c757d; */

    text-align: center;
}

.type-block .type-btn .btn a{
    color: var(--color-main);
}

.type-block .type-btn .btn a:hover {
    color: var(--color-redirect-hover);
    font-weight: 600;
}

.footer {
    width: 100%;
    min-height: 60px;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.sideBar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-sideBar-footer);
    height: 60px;
    padding: 20px 40px;
}

.sideBar-footer i {
    color: var(--color-sideBar-redirect);
}

.footer__redirect:hover {
    /* padding: 20px;
    border-radius: 50%;
    transform: translateY(-10px) scale(1.1); */
    transform: scale(1.5);
}

.card-container {
    max-height: calc(100% - var(--height-header));
    width: 100%;
    overflow: auto;
    padding: 10px 20px;
}

.block__heading {
    margin-bottom: 10px;
    color: var(--color-main);

    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tag {
    background-color: rgb(231, 231, 231);
    height: 80px;
    display: flex;
    align-items: center;

    border-radius: 5px;

    width: 100%;
}

.card-container .tag:hover {
    background-color: rgb(190, 190, 190);
}

.tag .tag-image {
    height: 80px;
    padding-left: 80px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tag:hover .tag-image {
    opacity: 0.8;
}

.tag .tag-desc {
    margin-left: 20px;
    font-weight: 500;
    width: 100%;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 24px;
}

.tag .tag-artist {
    margin-left: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.audio-player .tag .tag-artist,
.audio-player .tag .tag-desc {
    /* max-width: 200px; */
    text-align: center;
}

.btn:active {
    transform: scale(0.95);
}




.audio-player {
    width: 100%;
    background-color: #03284c;
    height: 80px;
    position: relative;
    display: none;
}

.audio-player .tag {
    display: flex;
    justify-content: space-between;

    padding: 0 20px;
}

.audio-inf {
    display: flex;
    align-items: center;

}

.audio-player.show {
    display: block;
}

.audio-player input {
    position: absolute;
    bottom: 2px;
    /* transform: translateY(50%); */
    width: 100%;
}

.audio-player .tag-icon i {
    background-color: antiquewhite;
}

.audio-setting {
    width: fit-content;
    height: 100%;
    max-width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-setting button {
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 0 30px;
}

.tag .btn i{
    color: #000;
}

.tag-btn {
    display: flex;
    justify-content: space-evenly;
}

.tag-btn button {
    padding: 0 20px;
    background: transparent;
    border: none;

    color: #000;
}


.tag-like .fa-solid {
    color: red !important;
}

.tag>.play-pause {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 253, 253);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(216, 214, 214);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b5e1c;
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(10, 170, 95);
    height: 200%;
    transform: translateY(-25%);
    width: 20px;
}

input[type=range]:hover::-webkit-slider-thumb {
    background:  rrgb(9, 118, 67)
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
}

input[type=range]:hover::-webkit-slider-runnable-track {
    background: #aaa;
}


@media (max-width : 740px) {

    .audio-player .tag {
        padding: 0;
    }

    .audio-setting {
        display: none;
    }

    .tag>.play-pause {
        display: block;
        font-size: 24px;
        padding-left: 20px;
        background: transparent;
        border: none;
    }

    .tag-btn button {
        padding: 5px;
    }
}

@media (max-width : 380px) {
    /* .tag-btn{
        display: none;
    } */

    .tag-btn .tag-like {
        display: none;
    }
}

.card-container > .card-footer{
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}