*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --background-color-light-mode : #e9ecef;
    --background-color-block-light-mode : #ced4da;

    --background-color-dark-mode : #6c757d;
    --background-color-block-dark-mode : #343a40;

    --height-header : 75px;

    --color-logo-1 : green;
    --color-logo-2 : rgb(62, 8, 76);

}

ul,ol,li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.block{
    background-color:  var(--background-color-block-light-mode);
}

.padding-10{
    padding: 10px !important;
}

#main-web{
    background-color: var(--background-color-light-mode);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.content,
.sideBar{
    width: 100%;
    height: 97vh;
    border-radius: 5px;
}

.sideBar__header{
    height: fit-content;
    min-height: var(--height-header);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 10px solid var(--background-color-light-mode);

}

.header__site-Icon{
    position: relative;
    width: 45px;
    height: 45px;
    background: #9f9f9f;
    margin-right: 10px;
}
.header__site-ID{
    font-size: 25px;
}

.icon{
    background: url(./resource/img/icon.ico);
    background-position: center;
    background-size: cover;
}

.logo{
    color: var(--color-logo-1);
}

.logo span{
    color: var(--color-logo-2);
}

/* .sideBar__slider{
    width: 100%;
    height: 10px;
    background-color: var(--background-color-light-mode);
} */

.sideBar__redirect{
    padding: 20px 0;
}

.sideBar__redirect .redirect-header{
    font-size: 24px;
    font-weight: 700;
    padding: 0 30px;

    padding-bottom: 10px;

    color: var(--color-logo-2);
}

.sideBar__redirect .redirect-list{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    color: #9f9f9f;
}

.sideBar__redirect .redirect{
    padding: 10px 50px;
    margin-bottom: 5px;
    width: 100%;
    /* border: 1px solid black; */
}

.sideBar__redirect .redirect i{
    font-size: 20px;
    margin-right: 10px;
    color: #989898;
    min-width: 24px;
}

.sideBar__redirect .redirect a{
    font-size: 20px;
    margin-right: 10px;
    color: #989898;
}

.sideBar__redirect .redirect:hover{
    cursor: pointer;
    background-color: #afb1b2;
    border-right: 5px solid rgb(13, 45, 122);
}

.sideBar__redirect .redirect:hover a,
.sideBar__redirect .redirect:hover i
{
    font-weight: 700;
    color: rgb(1, 26, 86);
}

.taskBar{
    width: 100%;
    height:  var(--height-header);
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.card-container{
    height: calc(100% - var(--height-header));
    width: 100%;
}

.search-block{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 10px 0; */
    /* background-color: var(--background-color-light-mode); */
}


.search-block input{
    width: calc(100% - 34px);
    height: 35px;
    border-radius: 10px;
    margin: 5px;
    padding: 0 10px;

    border: 1px solid black;
}

.search-block i{
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
}

.infUser-block{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infUser-block button{
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;

}

.type-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    padding-left: 20px;
}

.type-block .type-btn{
    display: flex;
    max-width: 100%;
    overflow: auto;
}

.type-block .type-btn .btn{
    padding: 10px 20px;
    min-width: 100px;
    /* background-color: #6c757d; */

    text-align: center;
}

.type-block .type-btn .btn a:hover{
    color: rgb(1, 26, 86);
    font-weight: 600;
}

.footer{
    width: 100%;
    min-height: 60px;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.audio-player{
    width: 100%;
    min-height: 60px;
    background-color: #03284c;
    height: 60px;
}

.sideBar-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    height: 60px;
    padding: 20px;
}

.sideBar-footer i{
    color: #fff;
}

