* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    animation: all ease .3s;

}

a,
li,
ul,
ol {
    text-decoration: none;
    list-style-type: none;
}

:root {
    --logo-color-1: rgb(53, 159, 0);
    --logo-color-2: rgb(128, 0, 128);
    --font-size-0: 10px;
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 20px;
    --font-size-4: 24px;

    --main-web-background-inside: #ebebeb;
    --main-web-background-inside-dark-mode: #000;

    --main-web-background-light-mode: #fff;
    --main-web-background-dark-mode: #707075;

    --main-web-color-light-mode: #fff;
    --main-web-color-dark-mode: #000;

    --header-height: 70px;


    --redirect-width: 250px;
    --redirect-color: rgb(126, 120, 126);
    --redirect-color-hover: rgb(59, 0, 52);
    --redirect-background-hover: rgb(248, 242, 248);

}


#main-web {
    min-width: 100vw;
    min-height: 100vh;

    max-height: 100vh;

    display: grid;
    grid-template-columns: var(--redirect-width) auto;

}


/* ------------------------------- */
#redirect__container {
    background-color: var(--main-web-background-light-mode);
    min-width: 220px;
    max-width: 250px;
}

.site_ID {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0.5px 1px rgba(0, 0, 0, 0.224);
}

.imgae_site_ID {
    margin-right: 10px;
    background-color: aqua;
    width: 50px;
    height: 50px;

    background: url(../img/4472584.ico);
    background-size: contain;
}

.name_site_ID {
    color: var(--logo-color-1);
    font-weight: 800;
    font-size: var(--font-size-3);
}

.name_site_ID span {
    color: var(--logo-color-2);
}

.site_redirect {
    max-height: calc(100vh - var(--header-height));
    padding: 10% 0;

    overflow: auto;
}

.nav_container {
    padding: 5px 0px;
}

.nav_container .nav_header {
    padding: 0 0 5px 30px;
    font-size: var(--font-size-2);
    color: var(--redirect-color);
}

.nav_container .nav_list .nav {
    padding: 15px 30px;
    font-size: var(--font-size-2);
    color: var(--redirect-color);
}

.nav_list .nav a {
    font-size: var(--font-size-2);
    color: var(--redirect-color);
    font-weight: 500;
}

.nav_list .nav.onmouse {
    background-color: var(--redirect-background-hover);
    border-right: 4px solid var(--logo-color-2);
    color: var(--redirect-color-hover);
    cursor: pointer;
}

.nav_list .nav:active {
    transform: scale(0.9, 0.98);
}

.nav_list .nav.onmouse a {
    font-weight: 700;
    color: var(--redirect-color-hover);
}

.nav_list .nav.choosing a {
    font-weight: 700;
    color: var(--redirect-color-hover);
}

.nav_list .nav.choosing {
    background-color: var(--redirect-background-hover);
    border-right: 4px solid var(--logo-color-2);
    color: var(--redirect-color-hover);
    cursor: pointer;
}

.nav_container .nav_list i {
    padding-right: 20px;
}

/* ------------------ */
#music__container {
    min-width: 800px;
    background-color: var(--main-web-background-inside);
}

#music__container .site_redirect {
    /* position: fixed;
    min-width: calc(100% - 300px); */



    padding: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    /* background-color:#e3e0e0; */
}

#music__container .site_redirect .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    padding: 0px 30px;
}

#music__container .nav_list .nav.onmouse,
#music__container .nav_list .nav.choosing {
    border-right: 0;
    background: none;
}

#music__container .nav_list .nav.onmouse a,
#music__container .nav_list .nav.choosing {
    position: relative;
}

#music__container .nav_list .nav.onmouse a::after,
#music__container .nav_list .nav.choosing a::after {
    content: '';
    position: absolute;
    background-color: var(--logo-color-2);
    width: 100%;
    height: 2px;
    bottom: -50%;
    left: 0;
}


.custom_list {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 200px;
    max-width: fit-content;
    height: 100%;
}

.custom_list .custom_block button {
    width: 140px;
    height: 100%;
    font-size: var(--font-size-1);
    border-radius: 20px;
    font-weight: 550;
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--logo-color-1);
    font-family: Arial, Helvetica, sans-serif
}

.custom_list .custom_block button:hover {
    transform: scale(0.9, 0.9);
    color: var(--redirect-color-hover) !important;
}

.custom_list .custom_block:nth-child(1) button {
    border: none;
    background: transparent;
    color: var(--redirect-color);
}

/* #music__container .search{
    width: 35%;
}

#music__container .search input{
    width: 80%;
    height: 30px;
    padding:  0 20px;

    border-radius: 12px;
    border: none;
    box-shadow: none;
    outline: none;
}

#music__container .search i{
    padding: 0 5px;
} */

#music__container .site_content {
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 35%;
    column-gap: 20px;
}

.music__block {
    max-width: 100%;
    background-color: var(--main-web-background-light-mode);
    padding: 0 30px;
    border-radius: 20px;

    max-height: calc(100vh - var(--header-height) - 20px);
    overflow: auto;

    border-bottom: 20px solid var(--main-web-background-light-mode);
    border-top: 20px solid var(--main-web-background-light-mode);
    /* background-color: #f4caca; */

}

.music__block .playlist {
    margin-bottom: 8px;
    padding-bottom: 10px;
    background-color: var(--main-web-background-light-mode);
    max-height: 300px;
}

.music__block .playlist__heading {
    padding-bottom: 10px;
    font-size: var(--font-size-4);
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 100%;
}

.music__block .playlist__container {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 10px;
}

.album {
    display: inline-block;
    background-color: var(--main-web-background-light-mode);
    margin: 0 5px;
    padding: 20px 15px;
    border-radius: 10px;
}

.album .img_album {
    width: 80px;
    padding-top: 100%;
    background-color: #786b08;

    border-radius: 20px;
    display: block;
}

.album .tag_album {
    font-size: var(--font-size-1);
    font-weight: 550;
    text-align: center;
    padding: 4px 0;

    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album .followers_album {
    font-size: var(--font-size-0);
    color: #535353;
    text-align: center;
}

/* width */
.site_content ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
.site_content ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 253, 253);
    border-radius: 10px;
}

/* Handle */
.site_content ::-webkit-scrollbar-thumb {
    background: rgb(216, 214, 214);
    border-radius: 10px;
}

/* Handle on hover */
.site_content ::-webkit-scrollbar-thumb:hover {
    background: #0b5e1c;
    cursor: pointer;
}


.player__block {
    height: 100%;
    max-height: calc(100vh - var(--header-height) - 20px);
    background-color: var(--main-web-background-light-mode);
    border-radius: 20px;
    /* padding: 10px 20px; */

    display: grid;
    grid-template-rows: 280px auto;
}


.player__block .heading {
    font-size: var(--font-size-3);
    padding-bottom: 5px;
}

.player__block .top-100-musics {
    height: 100%;
    max-height: 100%;
    padding: 10px;
    border-radius: 20px;

    padding: 20px 30px;
    
}

.top-100-musics .block {
    /* background-color: #f9f8f8; */
    height: calc(100% - 28px);
    border-radius: 10px;

    border: 1px solid #0000003c;

}

.top-100-musics .block .music:nth-child(even){
    background-color: #f3f3f3;
}



.music {
    display: flex;

    align-items: center;
    width: 100%;
    min-width: fit-content;
    /* background-color: #ebebeb97; */

    height: 60px;

    margin-bottom: 5px;
}

.music .music_id {
    font-size: var(--font-size-2);
    font-weight: 700;
    color: var(--redirect-color);
    padding: 0 20px;
}

.music .music_img {
    width: 50px;
    height: 50px;
    background-color: #786b08;

    border-radius: 5px;
    display: block;
}

.music .music_tag {
    width: 50%;
    min-width: 50px;
    max-width: 140px;
    padding: 0 0 0 20px;
}

.music .music_tag .music_name,
.music .music_tag .music_singer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}

.music .music_time {
    padding: 0 0px;
}

.playing {
    /* background-color: #dadada; */
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 20px;
    padding: 0 45px;
    /* background-color: #eeeeee; */

    
}

.music-playing {
    height: fit-content;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eeeeee;
}

.music-playing__heading {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: rgb(167, 5, 124);

    background-color: #eeeeee;

    border-radius: 20px 20px 0 0;
}

.music-playing__description {}

.music-playing__description .music-playing__img {
    width: 140px;
    padding-top: 100%;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 0;

    background-position: center;
    background-size: contain;
    background: #000;
}

.music-playing__description .music-playing__tag {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-4);
    font-weight: 700;
}

.music-playing__description .music-playing__singer {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-2);
    font-weight: 500;
}

.music-playing_control{
    background-color: #eeeeee;

    border-radius: 0 0 20px 20px;
    padding: 0 20px;
}

.music-playing_control input {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.music-playing_control input:hover {
    opacity: 1;
}

.music-playing_control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.music-playing_control input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.playing_pause{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing_pause > button{
    border-radius: 50%;

    width: fit-content;
    height: fit-content;

    border: none;
    padding: 2px 4px;
}

.playing_pause > button:hover{
    transform: scale(1.2);
}

.playing_pause > button:active{
    transform: scale(0.9);
}

.playing_pause i{
    font-size: 35px;
}


.music:hover,
.album:hover{
    background-color: #f3f3f3;
}

.music:active,
.album:active{
    transform: scale(0.9);
}